﻿@using DSR.Web.Pages.Registration.Services

@inherits MudComponentBase
@inject IRegistrationService registrationService

<MudDialog>
    <DialogContent>
        <MudForm>
            <MudGrid>
                <MudText Typo="Typo.h6" GutterBottom="true" Class="mb-3">@text</MudText>             
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="MudBlazor.Color.Primary" OnClick="Submit">Confirm</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = default!;

    [Parameter] 
    public string email { get; set; } = default;

    [Parameter]
    public string text { get; set; } = "Confirm your registration by clicking on the link in the email sent to your email.";

    async Task Submit()
    {
        if (await registrationService.CheckConfirmEmail(email))
            MudDialog.Close(DialogResult.Ok(true));
        else
            text = "You have not verified your email!";
    }

    void Cancel() => MudDialog.Cancel();
}
