﻿@page "/registration"
@layout SimpleLayout

@using DSR.Web.Pages.Registration.Models
@using DSR.Web.Pages.Registration.Services
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

@inject IDialogService DialogService
@inject IRegistrationService registrationService
@inject NavigationManager NavigationManager

<MudGrid Justify="Justify.Center" Class="pa-10">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h4" GutterBottom="true" Class="mb-3">Registration</MudText>
            <MudAlert Severity="Severity.Error" Class="@(ShowErrors ? "mb-3 d-block" : "d-none")">
                    @Error
                </MudAlert>
            <MudForm Model="model" @ref="form" Validation="@(modelValidator.ValidateValue)">
                    <MudTextField Label="Username" @bind-Value="model.Name"
                                  For="@(() => model.Name)"
                                  Required="true"
                                  RequiredError="Number is required!">
                    </MudTextField>
                    <MudTextField Label="Email" @bind-Value="model.Email" 
                                  For="@(() => model.Email)"
                                  Required="true" 
                                  RequiredError="Email is required!"
                                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})">
                    </MudTextField>
                    <MudTextField Label="Password" @bind-Value="model.Password"
                                  For="@(() => model.Password)"
                                  HelperText="Minimum password size 8 characters"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="Password is required!">
                    </MudTextField>
                    <MudTextField T="string" 
                                  Label="Password"
                                  For="@(() => model.Password)"
                                  HelperText="Repeat the password"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="Password is required!">
                                  Validation="@(new Func<string, string>(PasswordMatch))">
                    </MudTextField>
                    <div class="d-flex align-center justify-space-between mt-6">
                        <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Size="Size.Large"
                           ButtonType="ButtonType.Button"
                           OnClick="@((e) => CreateUser())">
                           Register
                       </MudButton>
                    </div>
            </MudForm>   
        </MudPaper>        
    </MudItem>    
</MudGrid>
@code {
    MudForm form = default!;

    [Parameter]
    public RegistrationModel model { get; set; } = new();

    RegistrationModelValidator modelValidator = new RegistrationModelValidator();   
    
    private bool ShowErrors;
    private string? Error;    

    private string PasswordMatch(string arg)
    {
        if (model.Password != arg)
            return "Passwords don't match";
        return null;
    }

    private async Task CreateUser()
    {
        ShowErrors = false;
        Error = "";

        await form.Validate();
        var res = await registrationService.CreateUser(model);

        if (res.ErrorCode == null)
        {
            var parameters = new DialogParameters();
            parameters.Add("email", model.Email);

            var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
            var dialog = DialogService.Show<RegistrDialog>("Email confirmation", parameters, options);
            var result = await dialog.Result;
        }
        else
        {
            Error = res.Message;
            ShowErrors = true;
        }
    }
}
