﻿@using DSR.Web.Pages.Colors.Models
@using DSR.Web.Pages.Colors.Services
@using DSR.Web.Pages.Profile.Models
@using DSR.Web.Pages.Profile.Services
@using System.ComponentModel.DataAnnotations
@using DSR.Web.Pages.Registration

@inherits MudComponentBase

@inject ISnackbar Snackbar
@inject IProfileService profileService
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<MudDialog>
    <DialogContent>
        <MudForm Model="model" @ref="form" Validation="@(modelValidator.ValidateValue)">
            <MudGrid>
                <MudAlert Severity="Severity.Error" Class="@(ShowErrors ? "mb-3 d-block" : "d-none")">
                    @Error
                </MudAlert>
                <MudItem xs="12" sm="12">
                    <MudTextField Label="Old password" @bind-Value="model.OldPassword"
                                  For="@(() => model.OldPassword)"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="OldPassword is required!">
                    </MudTextField>
                    <MudTextField Label="New password" @bind-Value="model.NewPassword"
                                  For="@(() => model.NewPassword)"
                                  HelperText="Minimum password size 8 characters"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="New Password is required!">
                    </MudTextField>
                </MudItem>                
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="MudBlazor.Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = default!;

    MudForm form = default!;

    ChangePasswordModelValidator modelValidator = new ChangePasswordModelValidator(); 

    public ChangePasswordModel model { get; set; } = new() { };     

    private bool ShowErrors;
    private string? Error;   

    async Task Submit()
    {        
        ShowErrors = false;
        Error = "";

        await form.Validate();
        var res = await profileService.ChangePassword(model);

        if (res.ErrorCode == null)
        {
            MudDialog.Close(DialogResult.Ok(true));
            Snackbar.Add("Password changed", Severity.Success);
        }
        else
        {
            Error = res.Message;
            ShowErrors = true;
        }
        
    }

    void Cancel() => MudDialog.Cancel();
}
