﻿@using DSR.Web.Pages.Colors.Models
@using DSR.Web.Pages.Colors.Services
@using DSR.Web.Pages.Profile.Models
@using DSR.Web.Pages.Profile.Services
@using System.ComponentModel.DataAnnotations
@using DSR.Web.Pages.Registration

@inherits MudComponentBase

@inject IProfileService profileService
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>   
        <MudForm Model="model" @ref="form" Validation="@(modelValidator.ValidateValue)">
            <MudGrid>
                <MudItem xs="12" sm="12">
                    <MudTextField Label="Username" @bind-Value="model.Name"
                                  For="@(() => model.Name)"
                                  Required="true"
                                  RequiredError="Name is required!">
                    </MudTextField>                    
                </MudItem> 
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="MudBlazor.Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = default!;

    MudForm form = default!;

    ChangeFullNameModel model = new ChangeFullNameModel();

    ChangeFullNameModelValidator modelValidator = new ChangeFullNameModelValidator();   

    async Task Submit()
    {  
        await form.Validate();
        if (form.IsValid)
        {
            await profileService.EditProfileFullName(model);
            MudDialog.Close(DialogResult.Ok(true));
            Snackbar.Add("FullName changed", Severity.Success);
        }        
    }

    void Cancel() => MudDialog.Cancel();
}
