﻿@using DSR.Web.Pages.Colors.Models
@using DSR.Web.Pages.Colors.Services
@using DSR.Web.Pages.Profile.Models
@using DSR.Web.Pages.Profile.Services
@using System.ComponentModel.DataAnnotations
@using DSR.Web.Pages.Registration

@inherits MudComponentBase

@inject IProfileService profileService
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>
        <MudForm Model="model" @ref="form" Validation="@(modelValidator.ValidateValue)">
            <MudGrid>
                <MudAlert Severity="Severity.Error" Class="@(ShowErrors ? "mb-3 d-block" : "d-none")">
                        @Error
                </MudAlert>
                <MudItem xs="12" sm="12">                    
                    <MudTextField Label="Email" @bind-Value="model.Email"
                                  For="@(() => model.Email)"
                                  Required="true"
                                  RequiredError="Email is required!"
                                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})">
                    </MudTextField>
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="MudBlazor.Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = default!;

    MudForm form = default!;

    ChangeEmailModel model = new ChangeEmailModel();

    ChangeEmailModelValidator modelValidator = new ChangeEmailModelValidator();

    private bool ShowErrors;
    private string? Error;

    async Task Submit()
    {        
        ShowErrors = false;
        Error = "";
        
        await form.Validate();
        if (form.IsValid)
        {
            var res = await profileService.EditProfileEmail(model);
            if (res.ErrorCode == null)
            {           
                MudDialog.Close(DialogResult.Ok(true));  
                Snackbar.Add("Email changed", Severity.Success);

                var parameters = new DialogParameters();
                parameters.Add("email", model.Email);
                parameters.Add("text", "Confirm your email");

                var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
                var dialog = DialogService.Show<RegistrDialog>("Email confirmation", parameters, options);
                var result = await dialog.Result;
            }
            else
            {
                Error = res.Message;
                ShowErrors = true;
            }
        }
                
    }

    void Cancel() => MudDialog.Cancel();
}
