﻿@page "/profile"
@layout MainLayout
@attribute [Authorize]

@using DSR.Web.Pages.Profile.Models
@using DSR.Web.Pages.Profile.Services

@inject IProfileService profileService
@inject ISnackbar Snackbar
@inject IDialogService DialogService


<MudGrid Justify="Justify.Center" Class="pa-10">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h4" GutterBottom="true" Class="mb-3">Profile <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="@load" /></MudText>            
            <MudText Align="Align.Center"><b>Username:</b> @username 
                <MudTooltip Text="Edit username">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" 
                        Variant="Variant.Outlined" 
                        Color="Color.Primary" 
                        Size="Size.Small" 
                        OnClick="@((e) => ChangeFullName())"/>
                </MudTooltip>
            </MudText> 
            <MudText Align="Align.Center"><b>Email:</b> @email
                <MudTooltip Text="Edit email">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" 
                        Variant="Variant.Outlined" 
                        Color="Color.Primary" 
                        Size="Size.Small" 
                        OnClick="@((e) => ChangeEmail())"/> 
                </MudTooltip>
            </MudText>             
            <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Size="Size.Large"
                           ButtonType="ButtonType.Button"
                           OnClick="@((e) => ChangePassword())">
                           Change password
            </MudButton>
        </MudPaper>        
    </MudItem>    
</MudGrid>

@code {

    private ProfileModel profileModel = new ProfileModel();

    private bool load = false;
    private string username;
    private string email;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ReloadData();
        }
        catch(Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }   

    private async Task ReloadData()
    {
        load = !load;
        profileModel = await profileService.GetProfile();
        username = profileModel.Name;
        email = profileModel.Email;
        load = !load;
    }

    private async Task ChangeFullName()
    {
        var parameters = new DialogParameters {};
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<ChangeFullNameDialog>("Edit fullName", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await ReloadData();
        }
    }

    private async Task ChangeEmail()
    {
        var parameters = new DialogParameters {};
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<ChangeEmailDialog>("Edit email", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await ReloadData();
        }
    }

    private async Task ChangePassword()
    {
        var parameters = new DialogParameters {};
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<ChangePasswordDialog>("Change password", parameters, options);
        var result = await dialog.Result;

    }
}