﻿@page "/automobiles"
@using DSR.Web.Components
@using DSR.Web.Pages.Automobiles.Models
@using DSR.Web.Pages.Automobiles.Services
@using DSR.Web.Pages.Comments
@using DSR.Web.Pages.Comments.Models
@using DSR.Web.Pages.Comments.Services

@layout MainLayout

@attribute [Authorize]

@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IAutoService autoService
@inject ICommentService commentService
@inject NavigationManager navigationManager

<MudText Typo="Typo.h4" Class="ma-8">Automobiles</MudText>

<MudTable Items="@AutoListItems" Class="ma-8" Loading="@load" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<AutoListItem,bool>(FilterFuncSimple)" SortLabel="Sort By">
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col style="width:200px;" />
    </ColGroup>
    <ToolBarContent>
        <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Secondary" OnClick="@((e) => AddAuto())">Add</MudButton>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<AutoListItem, object>(x=>x.Id)">Id</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<AutoListItem, object>(x=>x.Number)">Number</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<AutoListItem, object>(x=>x.Description)">Description</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<AutoListItem, object>(x=>x.Color)">Color</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<AutoListItem, object>(x=>x.Mark)">Mark</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<AutoListItem, object>(x=>x.Model)">Model</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Number">@context.Number</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="Color">@context.Color</MudTd>
        <MudTd DataLabel="Mark">@context.Mark</MudTd>
        <MudTd DataLabel="Model">@context.Model</MudTd>
        <MudTd>
            <MudTooltip Text="Edit">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => UpdateAuto(context.Id))" />
            </MudTooltip>
            <MudTooltip Text="Delete">
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => DeleteAuto(context.Id))" />
            </MudTooltip>
            <MudTooltip Text="Open comments">
                <MudIconButton Icon="@Icons.Filled.Comment" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => ReloadDataComments(context.Id))" />
            </MudTooltip>
            <MudTooltip Text="Add comments">
                <MudIconButton Icon="@Icons.Filled.AddComment" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => AddComment(context.Id))" />
            </MudTooltip>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<MudTable Items="@CommentListItems" Class="@invis" Loading="@load" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">
    <ColGroup>
        <col />
        <col />
        <col style="width:100px;" />
    </ColGroup>
    <ToolBarContent>
        <MudText Typo="Typo.h4" GutterBottom="true" Class="mb-3">Comments</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Filled.Close" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => CloseComment())"/>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<CommentListItem, object>(x=>x.FullNameUser)">Username</MudTableSortLabel></MudTh>
        <MudTh>Comment</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Username">@context.FullNameUser</MudTd>
        <MudTd DataLabel="Comment">@context.Content</MudTd>
        <MudTd>
            <MudTooltip Text="Edit">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => UpdateComment(context.Id, context.AutomobileId))" />
            </MudTooltip>
            <MudTooltip Text="Delete">
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => DeleteComment(context.Id, context.AutomobileId))" />
            </MudTooltip>
            </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private bool load = false;

    private string searchString = "";

    private IEnumerable<AutoListItem> AutoListItems = new List<AutoListItem>();

    private int idAuto;
    private IEnumerable<CommentListItem> CommentListItems = new List<CommentListItem>();
    private string invis = "invisible ma-8";

    private async Task ReloadData()
    {
        load = !load;
        AutoListItems = await autoService.GetAutos(0, 10000);
        load = !load;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ReloadData();
        }
        catch(Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private bool FilterFuncSimple(AutoListItem AutoListItem) => FilterFunc(AutoListItem, searchString);

    private bool FilterFunc(AutoListItem AutoListItem, string searchString)
    {
        return 
            string.IsNullOrWhiteSpace(searchString)
            ||
            AutoListItem.Number.Contains(searchString, StringComparison.OrdinalIgnoreCase)
            ||
            AutoListItem.Color.Contains(searchString, StringComparison.OrdinalIgnoreCase)
            ||
            AutoListItem.Mark.Contains(searchString, StringComparison.OrdinalIgnoreCase)
            ||
            AutoListItem.Model.Contains(searchString, StringComparison.OrdinalIgnoreCase)
            ||
            AutoListItem.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase)
        ;
    }

    private async Task AddAuto()
    {
        var parameters = new DialogParameters {};
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<AutoDialog>("Add auto", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await autoService.AddAuto(((AutoDialog)dialog.Dialog).model);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadData();
        }
    }

    private async Task UpdateAuto(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("AutoId", id);

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        var dialog = DialogService.Show<AutoDialog>("Update auto", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await autoService.UpdateAuto(id, ((AutoDialog)dialog.Dialog).model);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadData();
        }
    }

    private async Task DeleteAuto(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete this auto? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<ConfirmationDialog>("Delete auto", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await autoService.DeleteAuto(id);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadData();
        }
    }

    private async Task ReloadDataComments(int idAuto)
    {
        invis = "ma-8";
        load = !load;
        CommentListItems = await commentService.GetComments(idAuto);
        load = !load;
    }

    private void CloseComment()
    {
        invis = "invisible ma-8";
    }

    private async Task AddComment(int idAuto)
    {
        var parameters = new DialogParameters();
        parameters.Add("AutoId", idAuto);

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        var dialog = DialogService.Show<CommentDialog>("Add comment", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await commentService.AddComment(((CommentDialog)dialog.Dialog).model);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadDataComments(idAuto);
        }
    }

    private async Task UpdateComment(int id, int idAuto)
    {
        var parameters = new DialogParameters();
        parameters.Add("AutoId", idAuto);
        parameters.Add("CommentId", id);

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        var dialog = DialogService.Show<CommentDialog>("Update comment", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await commentService.UpdateComment(id, ((CommentDialog)dialog.Dialog).model);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadDataComments(idAuto);
        }
    }

    private async Task DeleteComment(int id, int idAuto)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete this comment? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<ConfirmationDialog>("Delete comment", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await commentService.DeleteComment(id);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadDataComments(idAuto);
            
        }
    }
}