@using DSR.Web.Pages.Automobiles.Models
@using DSR.Web.Pages.Automobiles.Services
@using DSR.Web.Pages.Colors
@using DSR.Web.Pages.Colors.Services
@using DSR.Web.Pages.Marks
@using DSR.Web.Pages.Marks.Services
@using DSR.Web.Pages.Models
@using DSR.Web.Pages.Models.Services
@inherits MudComponentBase

@inject IAutoService autoService
@inject IDialogService DialogService
@inject IColorService colorService
@inject IMarkService markService
@inject IModelService modelService


<MudDialog>
    <DialogContent>
        <MudForm Model="model" @ref="form" Validation="@(modelValidator.ValidateValue)">
            <MudGrid>
                <MudItem xs="12" sm="12">
                    <MudTextField Label="Number" @bind-Value="model.Number"
                                  For="@(() => model.Number)"
                                  Required="true"
                                  RequiredError="Number is required!"
                                  >
                    </MudTextField>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudFab StartIcon="@Icons.Material.Filled.Add" Color="Color.Secondary" Size="Size.Small" OnClick="@((e) => AddColor())"></MudFab>
                    <MudSelect @ref="selectColor" T="int" Label="Color" @bind-Value="model.ColorId" For="@(() => model.ColorId)">                          
                        <MudSelectItem T="int" Value="0">&nbsp;</MudSelectItem>                        
                        @foreach (var color in _colors)
                        {
                            <MudSelectItem T="int" Value="@color.Id">@color.Title</MudSelectItem>                            
                        }
                    </MudSelect>                    
                </MudItem>                
                <MudItem xs="12" sm="6">
                    <MudFab StartIcon="@Icons.Material.Filled.Add" Color="Color.Secondary" Size="Size.Small" OnClick="@((e) => AddMark())"></MudFab>
                    <MudSelect @ref="selectMark" T="int" Label="Mark" @bind-Value="model.MarkId" For="@(() => model.MarkId)">
                        <MudSelectItem T="int" Value="0">&nbsp;</MudSelectItem>
                        @foreach (var mark in _marks)
                        {
                            <MudSelectItem T="int" Value="@mark.Id">@mark.Title</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>                
                <MudItem xs="12" >
                    <MudTextField Label="Description"
                                  Lines="5"
                                  For="@(() => model.Description)"
                                  @bind-Value="model.Description">
                    </MudTextField>
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="MudBlazor.Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = default!;

    MudForm form = default!;
    MudSelect<int> selectColor = default!;
    MudSelect<int> selectMark = default!;

    AutoModelValidator modelValidator = new AutoModelValidator();

    bool isNew = false;

    [Parameter]
    public int? AutoId { get; set; } = default;

    [Parameter]
    public AutoModel model { get; set; } = new() { ColorId = 0, MarkId = 0};

    private List<CharacteristicModel> _colors { get; set; } = new List<CharacteristicModel>();
    private List<CharacteristicModel> _marks { get; set; } = new List<CharacteristicModel>();

    protected override async Task OnInitializedAsync()
    {
        var dataColor = await autoService.GetColorList();
        _colors.AddRange(dataColor);
        var dataMark = await autoService.GetMarkList();
        _marks.AddRange(dataMark);

        isNew = AutoId == null;
        if (!isNew)
        {
            var auto = await autoService.GetAuto(AutoId ?? 0);

            model.Id = auto.Id;
            model.Number = auto.Number;
            model.Description = auto.Description;
            model.ColorId = auto.ColorId;
            model.MarkId = auto.MarkId;           
        }

        await selectColor.SelectOption(model.ColorId);
        await selectMark.SelectOption(model.MarkId);
        form.ResetValidation();
    }

    private async Task AddColor()
    {
        var parameters = new DialogParameters {};
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<ColorDialog>("Add color", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await colorService.AddColor(((ColorDialog)dialog.Dialog).model);
        }
    }

    private async Task AddMark()
    {
        var parameters = new DialogParameters {};
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<MarkDialog>("Add mark", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await markService.AddMark(((MarkDialog)dialog.Dialog).model);
        }
    }

    private async Task AddModel()
    {
        var parameters = new DialogParameters {};
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<ModelDialog>("Add model", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await modelService.AddModel(((ModelDialog)dialog.Dialog).model);
        }
    }

    async Task Submit()
    {
        await form.Validate();
        if (form.IsValid)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }
    }

    void Cancel() => MudDialog.Cancel();
}
