﻿@using DSR.Web.Pages.Auth

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(SimpleLayout)">
                <Authorizing>
                    <text>Please wait, we are authorizing you...</text>
                </Authorizing>
                 <NotAuthorized>
                        @if (@context.User.Identity?.IsAuthenticated is true)
                        {
                            <p>You are not authorized to be here.</p>
                        }
                        else
                        {
                            <Login />
                        }
                    </NotAuthorized>
            </AuthorizeRouteView>        
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(SimpleLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>