﻿@page "/confirmresetpassword"
@layout SimpleLayout

@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<MudGrid Justify="Justify.Center" Class="pa-10">
    <MudItem xs="7" sm="4">
        <MudPaper Class="pa-4"> 
            <MudText Typo="Typo.h4" GutterBottom="true" Class="mb-3">Password changed! Go to the login page!</MudText>            
            <MudButton Color="Color.Success"                
                OnClick="@((e) => Go())">Sign In
            </MudButton>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    private void Go()
    {
        Snackbar.Add("Password changed!", Severity.Success);
        NavigationManager.NavigateTo("/");
    }
}
