﻿<MudNavMenu>
    <MudText Typo="Typo.h5" Class="pa-4">DSR Practice</MudText>
    <MudDivider />
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/automobiles" Match="NavLinkMatch.Prefix">Automobiles</MudNavLink>
    <MudNavLink Href="/marks" Match="NavLinkMatch.Prefix">Marks</MudNavLink>
    <MudNavLink Href="/models"  Match="NavLinkMatch.Prefix">Models</MudNavLink>
    <MudNavLink Href="/colors"  Match="NavLinkMatch.Prefix">Colors</MudNavLink>
</MudNavMenu>
