﻿@page "/colors"
@using DSR.Web.Components
@using DSR.Web.Pages.Colors.Models
@using DSR.Web.Pages.Colors.Services

@layout MainLayout

@attribute [Authorize]

@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IColorService colorService
@inject NavigationManager navigationManager

<MudText Typo="Typo.h4" Class="ma-8">Colors</MudText>

<MudTable Items="@ColorListItems" Class="ma-8" Loading="@load" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<ColorListItem,bool>(FilterFuncSimple)" SortLabel="Sort By">
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col style="width:100px;" />
    </ColGroup>
    <ToolBarContent>
        <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Secondary" OnClick="@((e) => AddColor())">Add</MudButton>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<ColorListItem, object>(x=>x.Id)">Id</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<ColorListItem, object>(x=>x.Title)">Title</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd>
            <MudTooltip Text="Edit">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => UpdateColor(context.Id))" />
             </MudTooltip>
             <MudTooltip Text="Delete">
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => DeleteColor(context.Id))" />
            </MudTooltip>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private bool load = false;

    private string searchString = "";

    private IEnumerable<ColorListItem> ColorListItems = new List<ColorListItem>();

    private async Task ReloadData()
    {
        load = !load;
        ColorListItems = await colorService.GetColors();
        load = !load;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ReloadData();
        }
        catch(Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private bool FilterFuncSimple(ColorListItem ColorListItem) => FilterFunc(ColorListItem, searchString);

    private bool FilterFunc(ColorListItem ColorListItem, string searchString)
    {
        return 
            string.IsNullOrWhiteSpace(searchString)
            ||
            ColorListItem.Title.Contains(searchString, StringComparison.OrdinalIgnoreCase);
    }

    private async Task AddColor()
    {
        var parameters = new DialogParameters {};
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<ColorDialog>("Add color", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await colorService.AddColor(((ColorDialog)dialog.Dialog).model);
            await ReloadData();
        }
    }

    private async Task UpdateColor(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("ColorId", id);

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        var dialog = DialogService.Show<ColorDialog>("Update color", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await colorService.UpdateColor(id, ((ColorDialog)dialog.Dialog).model);
            await ReloadData();
        }
    }

    private async Task DeleteColor(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete this color? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<ConfirmationDialog>("Delete color", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await colorService.DeleteColor(id);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadData();
        }
    }
}