@using DSR.Web.Pages.Models.ModelsAuto
@using DSR.Web.Pages.Models.Services
@inherits MudComponentBase

@inject IModelService modelService

<MudDialog>
    <DialogContent>
        <MudForm Model="model" @ref="form" Validation="@(modelValidator.ValidateValue)">
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudTextField Label="Title" @bind-Value="model.Title"
                                  For="@(() => model.Title)"
                                  Required="true"
                                  RequiredError="Title is required!">
                    </MudTextField>
                </MudItem>                
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="MudBlazor.Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = default!;

    MudForm form = default!;    

    ModelModelValidator modelValidator = new ModelModelValidator();

    bool isNew = false;

    [Parameter]
    public int? ModelId { get; set; } = default;

    [Parameter]
    public ModelModel model { get; set; } = new() { };  

    protected override async Task OnInitializedAsync()
    {
        isNew = ModelId == null;
        if (!isNew)
        {
            var modelAuto = await modelService.GetModel(ModelId ?? 0);

            model.Id = modelAuto.Id;
            model.Title = modelAuto.Title;            
        }
    }

    async Task Submit()
    {
        await form.Validate();
        if (form.IsValid)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }
    }

    void Cancel() => MudDialog.Cancel();
}
