﻿@page "/models"
@using DSR.Web.Components
@using DSR.Web.Pages.Models.ModelsAuto
@using DSR.Web.Pages.Models.Services

@layout MainLayout

@attribute [Authorize]

@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IModelService modelService
@inject NavigationManager navigationManager

<MudText Typo="Typo.h4" Class="ma-8">Models</MudText>

<MudTable Items="@ModelListItems" Class="ma-8" Loading="@load" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<ModelListItem,bool>(FilterFuncSimple)" SortLabel="Sort By">
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col style="width:100px;" />
    </ColGroup>
    <ToolBarContent>
        <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Secondary" OnClick="@((e) => AddModel())">Add</MudButton>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<ModelListItem, object>(x=>x.Id)">Id</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<ModelListItem, object>(x=>x.Title)">Title</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd>
            <MudTooltip Text="Edit">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => UpdateModel(context.Id))" />
            </MudTooltip>
            <MudTooltip Text="Delete">
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => DeleteModel(context.Id))" />
            </MudTooltip>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private bool load = false;

    private string searchString = "";

    private IEnumerable<ModelListItem> ModelListItems = new List<ModelListItem>();

    private async Task ReloadData()
    {
        load = !load;
        ModelListItems = await modelService.GetModels();
        load = !load;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ReloadData();
        }
        catch(Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private bool FilterFuncSimple(ModelListItem ModelListItem) => FilterFunc(ModelListItem, searchString);

    private bool FilterFunc(ModelListItem ModelListItem, string searchString)
    {
        return 
            string.IsNullOrWhiteSpace(searchString)
            ||
            ModelListItem.Title.Contains(searchString, StringComparison.OrdinalIgnoreCase);
    }

    private async Task AddModel()
    {
        var parameters = new DialogParameters {};
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<ModelDialog>("Add model", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await modelService.AddModel(((ModelDialog)dialog.Dialog).model);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadData();
        }
    }

    private async Task UpdateModel(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("ModelId", id);

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        var dialog = DialogService.Show<ModelDialog>("Update model", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await modelService.UpdateModel(id, ((ModelDialog)dialog.Dialog).model);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadData();
        }
    }

    private async Task DeleteModel(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete this model? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<ConfirmationDialog>("Delete model", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await modelService.DeleteModel(id);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadData();
        }
    }
}