﻿@page "/marks"
@using DSR.Web.Components
@using DSR.Web.Pages.Marks.Models
@using DSR.Web.Pages.Marks.Services


@layout MainLayout

@attribute [Authorize]

@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IMarkService markService
@inject NavigationManager navigationManager

<MudText Typo="Typo.h4" Class="ma-8">Marks</MudText>

<MudTable Items="@MarkListItems" Class="ma-8" Loading="@load" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<MarkListItem,bool>(FilterFuncSimple)" SortLabel="Sort By">
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col />
        <col style="width:100px;" />
    </ColGroup>
    <ToolBarContent>
        <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Secondary" OnClick="@((e) => AddMark())">Add</MudButton>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<MarkListItem, object>(x=>x.Id)">Id</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<MarkListItem, object>(x=>x.Title)">Title</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<MarkListItem, object>(x=>x.Model)">Model</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd DataLabel="Model">@context.Model</MudTd>
        <MudTd>
            <MudTooltip Text="Edit">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => UpdateMark(context.Id))" />
            </MudTooltip>
            <MudTooltip Text="Delete">
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" OnClick="@((e) => DeleteMark(context.Id))" />
            </MudTooltip>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private bool load = false;

    private string searchString = "";

    private IEnumerable<MarkListItem> MarkListItems = new List<MarkListItem>();

    private async Task ReloadData()
    {
        load = !load;
        MarkListItems = await markService.GetMarks();
        load = !load;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ReloadData();
        }
        catch(Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private bool FilterFuncSimple(MarkListItem MarkListItem) => FilterFunc(MarkListItem, searchString);

    private bool FilterFunc(MarkListItem MarkListItem, string searchString)
    {
        return 
            string.IsNullOrWhiteSpace(searchString)
            ||
            MarkListItem.Title.Contains(searchString, StringComparison.OrdinalIgnoreCase)
            ||
            MarkListItem.Model.Contains(searchString, StringComparison.OrdinalIgnoreCase)
        ;
    }

    private async Task AddMark()
    {
        var parameters = new DialogParameters {};
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<MarkDialog>("Add mark", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await markService.AddMark(((MarkDialog)dialog.Dialog).model);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadData();
        }
    }

    private async Task UpdateMark(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("MarkId", id);

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        var dialog = DialogService.Show<MarkDialog>("Update mark", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await markService.UpdateMark(id, ((MarkDialog)dialog.Dialog).model);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadData();
        }
    }

    private async Task DeleteMark(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete this mark? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<ConfirmationDialog>("Delete mark", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var res = await markService.DeleteMark(id);
            if (res.ErrorCode != null)
                Snackbar.Add(res.Message, Severity.Error);
            else
                await ReloadData();
        }
    }
}