@using DSR.Web.Pages.Marks.Models
@using DSR.Web.Pages.Marks.Services
@using DSR.Web.Pages.Models
@using DSR.Web.Pages.Models.Services
@inherits MudComponentBase

@inject IMarkService markService
@inject IModelService modelService
@inject IDialogService DialogService


<MudDialog>
    <DialogContent>
        <MudForm Model="model" @ref="form" Validation="@(modelValidator.ValidateValue)">
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudTextField Label="Title" @bind-Value="model.Title"
                                  For="@(() => model.Title)"
                                  Required="true"
                                  RequiredError="Title is required!"
                                  >
                    </MudTextField>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudFab StartIcon="@Icons.Material.Filled.Add" Color="Color.Secondary" Size="Size.Small" OnClick="@((e) => AddModel())"></MudFab>
                    <MudSelect @ref="selectModel" T="int" Label="Model" @bind-Value="model.ModelId" For="@(() => model.ModelId)">
                        <MudSelectItem T="int" Value="0">&nbsp;</MudSelectItem>
                        @foreach (var modelAuto in _models)
                        {
                            <MudSelectItem T="int" Value="@modelAuto.Id">@modelAuto.Title</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>                
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="MudBlazor.Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = default!;

    MudForm form = default!;

    MudSelect<int> selectModel = default!;

    MarkModelValidator modelValidator = new MarkModelValidator();

    bool isNew = false;

    [Parameter]
    public int? MarkId { get; set; } = default;

    [Parameter]
    public MarkModel model { get; set; } = new() { ModelId = 0 };

    private List<ModelModel> _models { get; set; } = new List<ModelModel>();

    protected override async Task OnInitializedAsync()
    {       
        var dataModel = await markService.GetModelList();
        _models.AddRange(dataModel);

        isNew = MarkId == null;
        if (!isNew)
        {
            var mark = await markService.GetMark(MarkId ?? 0);

            model.Id = mark.Id;
            model.Title = mark.Title;
            model.ModelId = mark.ModelId;            
        }

        await selectModel.SelectOption(model.ModelId);
        form.ResetValidation();
    }

    private async Task AddModel()
    {
        var parameters = new DialogParameters {};
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<ModelDialog>("Add model", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await modelService.AddModel(((ModelDialog)dialog.Dialog).model);
        }
    }

    async Task Submit()
    {
        await form.Validate();
        if (form.IsValid)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }
    }

    void Cancel() => MudDialog.Cancel();
}
