﻿@page "/"
@layout MainLayout

@attribute [Authorize]

<MudText Typo="Typo.h3" Align="Align.Center" Class="ma-4">Каталог автомобилей</MudText><br />
<MudText Typo="Typo.h4" Align="Align.Center" Class="ma-4">Функционал сервиса:</MudText><br />
<MudGrid>
    <MudItem xs="12" md="4">
            <MudText Typo="Typo.h6" GutterBottom="true">Каталог</MudText>
            <MudPaper Width="100%">
                    <MudListItem Text="Просмотр каталога автомобилей*" Icon="@Icons.Filled.Preview" IconColor="Color.Primary" />
                    <MudListItem Text="Добавление автомобилей в каталог*" Icon="@Icons.Filled.AddCircle" IconColor="Color.Primary" />
                    <MudListItem Text="Редактирование автомобилей в каталоге*" Icon="@Icons.Filled.EditCalendar" IconColor="Color.Primary" />
                    <MudListItem Text="Удаление автомобилей из каталога*" Icon="@Icons.Filled.DeleteForever" IconColor="Color.Primary" />
                    <MudListItem Text="Добавление/редактироватние/удаление комментрариев к автомобилю" Icon="@Icons.Filled.Comment" IconColor="Color.Primary" />
            </MudPaper>
            <MudText Typo="Typo.caption">* в том же числе их модели, марки и цвета</MudText>
    </MudItem>
    <MudItem xs="12" md="4">
            <MudText Typo="Typo.h6" GutterBottom="true">Профиль</MudText>
            <MudPaper Width="100%">
                    <MudListItem Text="Просмотр информации о профиле" Icon="@Icons.Filled.Preview" IconColor="Color.Primary" />
                    <MudListItem Text="Редактирование информации о профиле" Icon="@Icons.Filled.EditCalendar" IconColor="Color.Primary" />
                    <MudListItem Text="Смена пароля профиля" Icon="@Icons.Filled.Password" IconColor="Color.Primary" />
            </MudPaper>
    </MudItem>
    <MudItem xs="12" md="4">
            <MudText Typo="Typo.h6" GutterBottom="true">Аккаунт</MudText>
            <MudPaper Width="100%">
                    <MudListItem Text="Регистрация аккаунта*" Icon="@Icons.Filled.AppRegistration" IconColor="Color.Primary" />
                    <MudListItem Text="Восстановление пароля" Icon="@Icons.Filled.Password" IconColor="Color.Primary" />
                    <MudListItem Text="Вход в свою учетную запись" Icon="@Icons.Filled.Login" IconColor="Color.Primary" />
            </MudPaper>
            <MudText Typo="Typo.caption">* для завершения регистрации требуется подтверждение своего email</MudText>
    </MudItem>
</MudGrid>
