﻿@page "/forgot-password"
@layout SimpleLayout

@using DSR.Web.Pages.ResetPassword.Models
@using System.ComponentModel.DataAnnotations
@using DSR.Web.Pages.ResetPassword.Services

@inject ISnackbar Snackbar
@inject IResetPasswordService resetPasswordService
@inject NavigationManager NavigationManager


<MudGrid Justify="Justify.Center" Class="pa-10">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h4" GutterBottom="true" Class="mb-3">Change Password</MudText> 
            
            <MudAlert Severity="Severity.Error" Class="@(ShowErrors ? "mb-3 d-block" : "d-none")">
                    @Error
                </MudAlert>

            <MudForm Model="model" @ref="form" Validation="@(modelValidator.ValidateValue)">                    
                    <MudTextField Label="Email" @bind-Value="model.Email" 
                                  For="@(() => model.Email)"
                                  Required="true" 
                                  RequiredError="Email is required!"
                                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})">
                    </MudTextField>
                    <MudTextField Label="New password" @bind-Value="model.Password"
                                  For="@(() => model.Password)"
                                  HelperText="Minimum password size 8 characters"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="Password is required!">
                    </MudTextField>                   
                    <div class="d-flex align-center justify-space-between mt-6">
                        <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Size="Size.Large"
                           ButtonType="ButtonType.Button"
                           OnClick="@((e) => ChangePassword())">
                           Change Password
                       </MudButton>
                    </div>
            </MudForm>   
        </MudPaper>        
    </MudItem>    
</MudGrid>
@code {
    MudForm form = default!;

    [Parameter]
    public ResetPasswordModel model { get; set; } = new();

    ResetPasswordModelValidator modelValidator = new ResetPasswordModelValidator();  

    private bool ShowErrors;
    private string? Error;
        

    private async Task ChangePassword()
    {  
        ShowErrors = false;
        Error = "";      

        await form.Validate();
        var result = await resetPasswordService.ResetPassword(model);

        if (result.ErrorCode == null)
            {
                Snackbar.Add("Confirm password change by email", Severity.Success);
            }
            else
            {
                Error = result.Message;
                ShowErrors = true;
            }
    }
}
