@page "/login"
@layout SimpleLayout

@using System.ComponentModel.DataAnnotations
@using DSR.Web.Pages.Registration.Services

@inject ISnackbar Snackbar
@inject IAuthService authService
@inject IRegistrationService registrationService
@inject NavigationManager NavigationManager

<MudGrid Justify="Justify.Center" Class="pa-10">
    <MudItem xs="7" sm="4">
        <MudPaper Class="pa-4">
            <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                
                <MudText Typo="Typo.h4" GutterBottom="true" Class="mb-3">Sign In</MudText>

                <MudAlert Severity="Severity.Error" Class="@(ShowErrors ? "mb-3 d-block" : "d-none")">
                    @Error
                    <br />
                    @ErrorDetail
                </MudAlert>

                <MudTextField T="string"
                                @bind-Value="model.Email" For="@(() => model.Email)"
                                Label="Email" 
                                Required="true" 
                                RequiredError="Email is required!"
                                HelperText="Input your username"
                                Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})"/>
                <MudTextField @bind-Value="model.Password" For="@(() => model.Password)"
                                Label="Password" 
                                HelperText="Input your password"
                                InputType="@PasswordInput"
                                Adornment="Adornment.End"
                                AdornmentIcon="@PasswordInputIcon"
                                Required="true"
                                RequiredError="Password is required!"
                                OnAdornmentClick="TogglePasswordVisibility" />

                <div Class="d-flex justify-space-between align-center">
                    <MudCheckBox For="@(() => model.RememberMe)" @bind-Checked="model.RememberMe" Label="Remember me?" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>
                    <MudLink Href="/forgot-password">Forgot password?</MudLink>
                    <MudLink Href="/registration">Registration</MudLink>
                </div>

                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Size="Size.Large"
                           ButtonType="ButtonType.Submit">Sign In</MudButton>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    bool success;
    MudForm? form;

    private LoginModel model = new LoginModel();

    bool PasswordVisibility;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    private bool ShowErrors;
    private string? Error;
    private string? ErrorDetail;

    void TogglePasswordVisibility()
    {
        @if (PasswordVisibility)
        {
            PasswordVisibility = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            PasswordVisibility = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private async Task OnValidSubmit()
    {
        ShowErrors = false;
        Error = "";
        ErrorDetail = "";



        var result = await authService.Login(model);

        if (result.Successful)
        {
            if (!(await registrationService.CheckConfirmEmail(model.Email)))
                Snackbar.Add("Email not confirmed!", Severity.Info);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Error = result.Error;
            ErrorDetail = result.ErrorDescription;
            ShowErrors = true;
        }
    }
}
